

.breadcrumb-link {
    cursor: pointer;
    color: #007bff;
}

.main-content {
    display: flex;
    gap: 24px;
}

.image-section {
    width: 40%;
    display: flex;
    gap: 2%;
}

.main-image {
    width: 80%;
    border-radius: 4px;
    border: 1px solid #ddd;
}

.thumbnail-grid {
    width: 20%;
}

.thumb {
    width: 100%;
    height: auto;
    border-radius: 4px;
    border: 1px solid #ddd;
    cursor: pointer;
}

.info-section {
    width: 60%;
    padding-right: 2%;
}

.product-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.status .badge {
    background-color: #008000;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 14px;
}

.stock {
    font-size: 14px;
    color: gray;
}

.price {
    color: green;
    font-weight: bold;
    font-size: 20px;
    margin: 10px 0;
}

.detail-text {
    font-size: 14px;
    color: black;
    margin-bottom: 6px;
    font-weight: 500;
}

.shipping-box {
    background-color: #f3f4f6;
    padding: 12px;
    border-radius: 6px;
    margin-bottom: 16px;
    font-size: 14px;
    color: #444;
}

.action-buttons {
    display: flex;
    gap: 12px;
    margin-bottom: 16px;
}

.btn {
    padding: 1% 5%;
    border: 1px solid #ccc;
    background: white;
    cursor: pointer;
}

.btn.buy {
    background: #48bb78;
    color: white;
    border: none;
    padding: 1% 20%;
}

.questions {
    display: flex;
    gap: 10px;
    margin-bottom: 24px;
}

.question-btn {
    font-size: 12px;
    padding: 6px 12px;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 10px;
}

.seller-info {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 16px;
    width: 30%;
}

.avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.seller-name {
    font-weight: bold;
}

.seller-status {
    font-size: 12px;
    color: gray;
}

.seller-actions {
    display: flex;
    gap: 8px;
    margin-top: 4px;
}

.chat-btn {
    background: #d3f9d8;
    color: #276749;
    padding: 4px 8px;
    font-size: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.shop-btn {
    padding: 4px 8px;
    font-size: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}

.ratings p {
    font-size: 14px;
    margin-bottom: 4px;
}

.highlight {
    font-weight: bold;
    color: #6EB566;
    margin-left: 30%;
}

.product-details {
    border-top: 1px solid #ccc;
    margin-top: 32px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.product-details h2,
.product-details h3 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 12px;
}

.specs {
    padding: 2% 5%;
    background: white;
}

.spec-row {
    width: 30%;
    display: flex;
    justify-content: space-between;
}

.spec-label {
    color: gray;
}


