.loading-container {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgb(104, 206, 131); 
  z-index: 2000;
  top: 0;
  left: 0;
}

.progress-bar {
  width: 200px;
  height: 10px;
  background: white;
  border-radius: 5px;
  margin-top: 20px;
  overflow: hidden;
}

.progress {
  height: 100%;
  background-color: rgba(71, 175, 99, 0.3); 
  transition: width 0.3s;
}

p {
  color: white;
  font-weight: bold;
  margin-top: 10px;
}
